<div class="row product" [ngClass]="{'product-discount': product.discount}">
  <div *ngIf="product.discount" class="row product-discount-text">
    Produkt przeceniony o {{product.discount.percent}}% do {{ product.discount.finishDate | date:'HH:mm dd.MM.yyyy' }}
  </div>
  <div class="col-md-2">
    <img src={{product.photo}} style="max-width: 100%;"/>
  </div>
  <div class="col-md-7">
    <a class="product-name" (click)="showDetails()">{{ product.name }}</a>
    <p>{{product.description | productDescription}}</p>
  </div>
  <div class="col-md-3" style="text-align: center;">
    <div *ngIf="product.discount" class="product-discount-price">{{product.price * ((100-product.discount.percent) / 100) | currency}}</div>
    <div *ngIf="!product.discount" class="product-price">{{product.price | currency}}</div>
    <div class="product-count" [ngClass]="{'product-not-available': product.count==0}">{{product.count}} dostępnych
    </div>
    <button [disabled]="product.count == 0" class="btn app-button" (click)="addToCard()">Dodaj do koszyka</button>
  </div>

</div>
