.product {
  width: 100%;
  margin: 24px 8px;
}

.product-name {
  font-size: 17px;
  font-weight: 600;
  color: #59aeff;
  margin: 0 0 8px 0;
}

.product-price {
  color: #32ad59;
  font-weight: 600;
  font-size: 20px;
}

.product-count {
  color: #59aeff;
  font-weight: 600;
  font-size: 14px;
  margin: 2px 0;
}

.product-not-available {
  color: #e86d6d;
}

p {
  color: grey;
  font-size: 12px;
  margin-bottom: 45px;
}

a:hover {
  cursor: pointer;
}

.product-discount{
  border-radius: 25px;
  border: 2px solid #59c67c;
}

.product-discount-text{
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: #e86d6d;
  margin: 5px 0;
}

.product-discount-price{
  color: #e86d6d;
  font-weight: 600;
  font-size: 22px;
}

img{
  margin: 2px 0;
}

