.auth-panel{
  margin: 40px 35%;
  text-align: center;
}

.form-group{
  text-align: left;
}

h2{
  color:#0b6eeb;
}

.app-top{
  background-color: #0b6eeb;
  color: white;
  padding: 50px 0;
}

.app-navbar{
  margin: 20px 20%;
}

.app-content{
  margin: 20px 20% 0 20%;
}

.navbar{
  background-color: inherit;
  height: inherit;
  margin: 0 20%;
}

.navbar-brand{
  color: white;
  font-size: 30px;
  font-weight: 600;
}
