<div class="pagination" *ngIf="count > 0">
  <button class="btn app-button" (click)="onPrev()" [disabled]="page === 1 || loading"><</button>
  <button *ngFor="let pageNum of getPages()"
          class="btn app-button"
          [ngClass]="{'app-button-selected': pageNum === page}"
          [ngClass]="{'btn-primary': pageNum === page}"
          (click)="onPage(pageNum)"
          [disabled]="pageNum === page">
    {{pageNum}}
  </button>
  <button class="btn app-button" (click)="onNext()" [disabled]="lastPage() || loading">></button>
  <div>{{ getMin() }} - {{ getMax() }} ({{ count }} wszystkich)</div>
</div>
