<div class="app-top">
  <nav class="navbar">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Sklep Sportowy</a>
    </div>

    <button class="btn navbar-btn app-navbar-button"
            [ngClass]="{'app-navbar-button-selected': router.url === '/admin/products'}"
            [disabled] = "router.url === '/admin/products'"
            routerLink="/admin/products">Produkty</button>
    <button class="btn navbar-btn app-navbar-button"
            [ngClass]="{'app-navbar-button-selected': router.url === '/admin/orders/active' || router.url === '/admin/orders/completed' }"
            [disabled] = "router.url === '/admin/orders/active' || router.url === '/admin/orders/completed'"
            routerLink="/admin/orders">Zlecenia</button>

    <div style="float: right; font-size: 16px;">
      <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn app-button dropdown-toggle app-navbar-button">
          <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a class="dropdown-item" (click)="logout()"><span class="glyphicon glyphicon-user"></span>
            Wyloguj</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="app-content">
  <router-outlet ></router-outlet>
</div>
