.app-top{
  background-color: #0b6eeb;
  color: white;
  padding: 50px 0;
}

.app-navbar{
  margin: 20px 20%;
}

.app-content{
  margin: 20px 20% 0 20%;
}

.navbar{
  background-color: inherit;
  height: inherit;
  margin: 0 20%;
}

.app-navbar-button {
  color: white;
  border-color: white;
  background-color: #0b6eeb;
}
.app-navbar-button:active,
.app-navbar-button:visited,
.app-navbar-button:link,
.app-navbar-button:focus
{
  color: white;
  border-color: white;
  background-color: #0b6eeb;
}
.app-navbar-button:hover{
  color: #0b6eeb;
  border-color: #0b6eeb;
  background-color: white;
}

.app-navbar-button-selected{
  color: #0b6eeb;
  border-color: #0b6eeb;
  background-color: white;
}
.app-navbar-button-selected:active,
.app-navbar-button-selected:visited,
.app-navbar-button-selected:link,
.app-navbar-button-selected:focus,
.app-navbar-button-selected:hover
{
  color: #0b6eeb;
  border-color: #0b6eeb;
  background-color: white;
}

.navbar-brand{
  color: white;
  font-size: 30px;
  font-weight: 600;
}
