.filteringInput {
  text-align: center;
  width: 100%;
  margin: 15px 3px;
}

.clearFiltersButton {
  width: 100%;
  margin: 15px 3px;
}

#priceForm {
  margin-top: 15px;
}

p{
  color:#0b6eeb;
  font-size: 16px;
  font-weight: 600;
}
