<div class="col-sm-3">
  <input type="text" class="form-control filteringInput" name="filteringText" [(ngModel)]="filteringText"
         placeholder="Szukaj produktu">

  <div>
    <p>Kategorie:</p>
    <category *ngFor="let category of allCategories" [category]="category"
              (categorySelected)="selectCategory($event)"></category>
  </div>

  <div id="priceForm">
    <p>Cena: {{filteredPrice[0] | currency}} - {{filteredPrice[1] | currency}}</p>
    <nouislider [connect]="true" [min]="filteringPriceRange[0]" [max]="filteringPriceRange[1]" [step]="1"
                [(ngModel)]="filteredPrice" (ngModelChange)="onPriceFilterChange($event)"></nouislider>
  </div>

  <button class="btn app-button clearFiltersButton" (click)="clearFilters()">Wyczyść filtry</button>
</div>

<div class="col-sm-9">
  <product *ngFor="let product of offer |
          category:selectedCategories:filteredCount |
          name:filteringText:filteredCount |
          price:filteredPrice:filteredCount |
          pagination:page:limit"
           [product]="product"
           (addToCardEmitter)="addToCard($event)"
           (showDetailsEmitter)="showDetails($event)">
  </product>

  <pagination [count]="filteredCount.count" [page]="page" [perPage]="limit" [pagesToShow]="5"
              [loading]="loading" (goPrev)="prevPage($event)" (goNext)="nextPage($event)" (goPage)="goToPage($event)">
  </pagination>
</div>
