<nav class="navbar app-navbar">
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="">Sklep Sportowy</a>
  </div>

  <div style="float: right; font-size: 16px;">
    <div class="cardStatus">Koszyk: {{cardService.cardCount}} produkt(ów), {{cardService.cardValue | currency}}</div>
    <button class="btn btn-default navbar-btn app-navbar-button" routerLink="/card">Do kasy</button>
    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-default dropdown-toggle app-navbar-button">
        <span class="glyphicon glyphicon-align-justify"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li *ngIf="!authService.userLoggedIn()" role="menuitem"><a class="dropdown-item" routerLink="/admin"><span
          class="glyphicon glyphicon-user"></span> Zaloguj</a></li>
        <li *ngIf="!authService.userLoggedIn()" role="menuitem"><a class="dropdown-item" routerLink="/register"><span
          class="glyphicon glyphicon-pencil"></span> Zarejestruj</a></li>
        <li *ngIf="authService.userLoggedIn() && !authService.adminLoggedIn()" role="menuitem"><a class="dropdown-item"
                                                                                                  routerLink="/orders"><span
          class="glyphicon glyphicon-list-alt"></span> Zamówienia</a></li>
        <li *ngIf="authService.adminLoggedIn()" role="menuitem"><a class="dropdown-item" routerLink="/admin"><span
          class="glyphicon glyphicon-cog"></span> Panel administratora</a></li>
        <li *ngIf="authService.userLoggedIn()" class="divider dropdown-divider"></li>
        <li *ngIf="authService.userLoggedIn()" role="menuitem"><a class="dropdown-item"
                                                                  (click)="authService.logout()"><span
          class="glyphicon glyphicon-user"></span> Wyloguj</a></li>
      </ul>
    </div>
  </div>
</nav>

