.cardStatus {
  display: inline-block;
  margin-right: 5px;
}

.navbar{
  background-color: inherit;
  height: inherit;
  margin: 0 20%;
}

.app-navbar-button {
  color: white;
  border-color: white;
  background-color: #0b6eeb;
}
.app-navbar-button:active,
.app-navbar-button:visited,
.app-navbar-button:link,
.app-navbar-button:focus
{
  color: white;
  border-color: white;
  background-color: #0b6eeb;
}
.app-navbar-button:hover{
  color: #0b6eeb;
  border-color: #0b6eeb;
  background-color: white;
}

.navbar-brand{
  color: white;
  font-size: 30px;
  font-weight: 600;
}
