.order {
  margin: 15px 0;
}

.order-name {
  color: #59aeff;
  font-weight: 600;
  margin: 5px 0;
  font-size: 20px;
}

.order-address {
  color: #34d381;
  font-weight: 600;
  margin: 5px 0;
}

#noOrders {
  width: 100%;
  margin-top: 25px;
  text-align: center;
  font-size: 25px;
  color: #61a9e8;
}
