<div class="modal-header">
  <div class="row">
    <div class="col-md-11">
      <h4 *ngIf="product" class="modal-title pull-left product-name">{{product.name}}</h4>
    </div>
    <div class="col-md-1">
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<div class="modal-body">
  <div *ngIf="product">

    <div *ngIf="product.discount" class="row product-discount-text">
      Produkt przeceniony o {{product.discount.percent}}% przez najbliższe {{product.discount.duration}} minut.
    </div>

    <div *ngIf="product.discount" class="row">
      <div class="col-md-4">
        <p class="product-old-price">{{product.price | currency}}</p>
      </div>
      <div class="col-md-8" style="text-align: center;">
        <p class="product-new-price">{{product.price * ((100-product.discount.percent) / 100) | currency}}</p>
      </div>
    </div>
    <div *ngIf="!product.discount" class="row" style="text-align: center">
      <p class="product-price">{{product.price | currency}}</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src={{product.photo}} style="max-width: 100%;"/>
      </div>
      <div class="col-md-8">
        <p class="product-description">{{product.description}}</p>
      </div>
    </div>

  </div>
</div>
