.product-name {
  font-size: 17px;
  font-weight: 600;
  color: #59aeff;
  margin: 0 0 8px 0;
}

.product-price {
  color: #32ad59;
  font-weight: 600;
  font-size: 18px;
}

.product-description {
  color: grey;
  font-size: 12px;
  margin-bottom: 45px;
}

.product-discount-text{
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: #e86d6d;
  margin: 5px 0;
}

.product-new-price {
  color: #32ad59;
  font-weight: 600;
  font-size: 22px;
}

.product-old-price {
  text-decoration: line-through;
  color: #e86d6d;
  font-weight: 600;
  font-size: 18px;
}
