<div *ngFor="let order of orders" class="order">
  <div class="col-sm-9">
    <p class="order-name">{{ order.name }}</p>
    <p class="order-address">{{ order.address }}</p>
  </div>

  <div class="col-sm-3 buttons" style="text-align: center">
    <button class="btn btn-success" (click)="realizeOrder(order)">Zrealizuj</button>
    <button *ngIf="!order.showProducts" class="btn btn-primary" (click)="order.showProducts = true"> +</button>
    <button *ngIf="order.showProducts" class="btn btn-warning" (click)="order.showProducts = false"> -</button>
  </div>

  <div *ngIf="order.showProducts">
    <div *ngFor="let product of order.products" style="margin: 3px 15px;" class="col-sm-12">
      <div>{{ product.name }}</div>
      <div>{{ product.price | currency}}</div>
    </div>
  </div>
</div>

<div id="noOrders" *ngIf="!orders || orders.length == 0">
  Brak zamówień
</div>

