<ul class="nav nav-tabs">
  <li role="presentation" [ngClass]="{'active': router.url === '/admin/orders/active'}"><a
    routerLink="/admin/orders/active">Aktywne</a></li>
  <li role="presentation" [ngClass]="{'active': router.url === '/admin/orders/completed'}"><a
    routerLink="/admin/orders/completed">Zrealizowane</a></li>
</ul>

<router-outlet></router-outlet>

