.filteringInput {
  text-align: center;
  width: 100%;
  margin: 15px 3px;
}

.clearFiltersButton {
  width: 100%;
  margin: 15px 3px;
}

#priceForm {
  margin-top: 15px;
}

.addProductButton {
  text-align: center;
  margin: 15px 0;
}

.product {
  width: 100%;
}

.product-name {
  color: #59aeff;
  font-weight: 600;
  margin: 5px 0;
}

.product-category {
  color: #34d381;
  font-weight: 600;
  margin: 5px 0;
}

.product-photo {
  font-size: 12px;
  margin: 5px 0;
}

.product-description {
  color: grey;
  font-size: 12px;
  margin-bottom: 5px;
}

.product-price {
  color: #32ad59;
  font-weight: 600;
  font-size: 16px;
  margin: 5px 0;
  text-align: center;
}

textarea {
  resize: vertical;
}

.buttons {
  text-align: center;
}

p{
  color:#0b6eeb;
  font-size: 16px;
  font-weight: 600;
}
