<div class="col-sm-3">
  <input type="text" class="form-control filteringInput" name="filteringText" [(ngModel)]="filteringText"
         placeholder="Szukaj produktu">

  <div>
    <p>Kategorie:</p>
    <category *ngFor="let category of allCategories" [category]="category"
              (categorySelected)="selectCategory($event)"></category>
  </div>

  <div id="priceForm">
    <p>Cena: {{filteredPrice[0] | currency}} - {{filteredPrice[1] | currency}}</p>
    <nouislider [connect]="true" [min]="filteringPriceRange[0]" [max]="filteringPriceRange[1]" [step]="1"
                [(ngModel)]="filteredPrice" (ngModelChange)="onPriceFilterChange($event)"></nouislider>
  </div>

  <button class="btn app-button clearFiltersButton" (click)="clearFilters()">Wyczyść filtry</button>
</div>

<div class="col-sm-9">

  <admin-product *ngFor="let product of offer |
            category:selectedCategories:filteredCount |
            name:filteringText:filteredCount |
            price:filteredPrice:filteredCount |
            pagination:page:limit"
                 [product]="product"
                 (deleteProduct)="deleteProduct($event)"
                 (saveProduct)="saveEditing($event)"
                 (addDiscount)="addDiscount($event)">
  </admin-product>

  <div class="col-sm-12 addProductButton">
    <button *ngIf="!addingNew" class="btn btn-success" (click)="addingNew = true">Dodaj nowy produkt</button>
  </div>
  <div class="product">
    <div *ngIf="addingNew" class="product">
      <div class="col-md-2">
        <img src={{newProductPhoto}} style="max-width: 100%;"/>
      </div>
      <div class="col-sm-7">
        <input type="text" class="form-control product-name" name="newProductName" [(ngModel)]="newProductName"
               placeholder="nazwa">
        <input type="text" class="form-control product-category" name="newProductCategory"
               [(ngModel)]="newProductCategory" placeholder="kategoria">
        <input type="text" class="form-control product-photo" name="newProductPhoto" [(ngModel)]="newProductPhoto"
               placeholder="zdjęcie">
        <textarea class="form-control product-description" name="newProductDescription"
                  [(ngModel)]="newProductDescription" placeholder="opis"></textarea>
      </div>

      <div class="col-sm-3 buttons">
        <input type="number" class="form-control product-price" name="newProductPrice" [(ngModel)]="newProductPrice"
               placeholder="cena">
        <button class="btn btn-primary" (click)="cancelAddingProduct()">Anuluj</button>
        <button class="btn btn-success" (click)="addProduct()">Dodaj</button>
      </div>
    </div>
  </div>

  <pagination [count]="filteredCount.count" [page]="page" [perPage]="limit" [pagesToShow]="5"
              [loading]="loading" (goPrev)="prevPage($event)" (goNext)="nextPage($event)" (goPage)="goToPage($event)">
  </pagination>
</div>
