.discount-title{
  color: #e86d6d;
  font-weight: 600;
  font-size: 24px;
}

.discount-info{
  text-align: center;
  color: #e86d6d;
  font-weight: 600;
  font-size: 14px;
}

.product-name {
  font-size: 17px;
  font-weight: 600;
  color: #59aeff;
  margin: 0 0 8px 0;
}

.product-description {
  color: grey;
  font-size: 12px;
  margin-bottom: 45px;
}

.product-new-price {
  color: #32ad59;
  font-weight: 600;
  font-size: 22px;
}

.product-old-price {
  text-decoration: line-through;
  color: #e86d6d;
  font-weight: 600;
  font-size: 18px;
}
