<div *ngIf="!editing" class="row product" [ngClass]="{'product-discount': product.discount}">
  <div *ngIf="product.discount" class="row product-discount-text">
    Produkt przeceniony o {{product.discount.percent}}% do {{ product.discount.finishDate | date:'HH:mm dd.MM.yyyy' }}
  </div>
  <div class="col-md-2">
    <img src={{product.photo}} style="max-width: 100%;"/>
  </div>
  <div class="col-md-7">
    <p class="product-name">{{ product.name }}</p>
    <p class="product-category">{{ product.category }}</p>
    <p class="product-description">{{product.description}}</p>
  </div>

  <div class="col-md-3 buttons">
    <div *ngIf="product.discount" class="product-discount-price">{{product.price * ((100-product.discount.percent) / 100) | currency}}</div>
    <div *ngIf="!product.discount" class="product-price">{{product.price | currency}}</div>
    <div class="product-count">{{product.count}} dostępnych</div>
    <button class="btn btn-info" (click)="editing = true">Edytuj</button>
    <button class="btn btn-danger" (click)="delete()">Usuń</button>
    <button *ngIf="!settingDiscount" class="btn btn-success discount-button" (click)="settingDiscount = true">Ustaw promocję</button>
  </div>
</div>

<div *ngIf="editing" class="row product">
  <div class="col-md-2">
    <img src={{editingPhoto}} style="max-width: 100%;"/>
  </div>
  <div class="col-md-7">
    <input type="text" class="form-control product-name" name="editingName" [(ngModel)]="editingName" placeholder="nazwa">
    <input type="text" class="form-control product-category" name="editingCategory" [(ngModel)]="editingCategory" placeholder="kategoria">
    <input type="text" class="form-control product-photo" name="editingPhoto" [(ngModel)]="editingPhoto" placeholder="zdjęcie">
    <textarea class="form-control product-description" name="editingDescription" [(ngModel)]="editingDescription" placeholder="opis"></textarea>
  </div>

  <div class="col-md-3 buttons">
    <input type="number" class="form-control product-price" name="editingPrice" [(ngModel)]="editingPrice" placeholder="cena">
    <input type="number" class="form-control product-count" name="editingCount" [(ngModel)]="editingCount" placeholder="ilość">
    <button class="btn btn-primary" (click)="cancelEditing()">Anuluj</button>
    <button class="btn btn-success" (click)="saveEditing()">Zapisz</button>
  </div>
</div>

<div *ngIf="settingDiscount" class="row product discount-panel">

  <p class="discount-text">Promocja</p>
  <div class="row">
      <div class="col-md-6">
        <label for="discount-price" class="discount-label">Obniżka procentowa</label>
      </div>
      <div class="col-md-6">
        <input type="number" min="0" max="100" class="form-control discount-input" name="discount-price" [(ngModel)]="discountPercent"/>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
        <label for="discount-duration" class="discount-label">Czas trwania (min)</label>
      </div>
      <div class="col-md-6">
        <input type="number" min="0" class="form-control discount-input" name="discount-duration" [(ngModel)]="discountDuration"/>
      </div>
  </div>

  <div class="row">
    <button class="btn btn-primary discount-button" (click)="cancelSettingDiscount()">Anuluj</button>
    <button class="btn btn-success discount-button" (click)="saveDiscount()">Dodaj</button>
  </div>
</div>
