.product {
  width: 100%;
  margin-top: 8px;
}

.product-name {
  color: #59aeff;
  font-weight: 600;
  margin: 5px 0;
}

.product-category {
  color: #34d381;
  font-weight: 600;
  margin: 5px 0;
}

.product-photo {
  font-size: 12px;
  margin: 5px 0;
}

.product-description {
  color: grey;
  font-size: 12px;
  margin-bottom: 5px;
}

.product-price {
  color: #32ad59;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.product-count {
  color: #59aeff;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin: 2px 0;
}

textarea {
  resize: vertical;
}

.buttons {
  text-align: center;
}

.discount-panel{
  text-align: center;
  margin-bottom: 32px;
}

.discount-button{
  margin-top: 3px;
}

.discount-text{
  color: #e86d6d;
  font-weight: 600;
  font-size: 18px;
}

.discount-label{
  margin-top: 7px;
}

.discount-input{
  width: 150px;
}

.product-discount{
  border-radius: 25px;
  border: 2px solid #59c67c;
}

.product-discount-text{
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: #e86d6d;
  margin: 5px 0;
}

.product-discount-price{
  color: #e86d6d;
  font-weight: 600;
  font-size: 22px;
}

img{
  margin: 2px 0;
}
