.invalid {
  background-color: #e86d6d;
}

.invalid-feedback {
  font-weight: 600;
  color: #e86d6d;
}

.order-main-label{
  text-align: center;
  margin: 32px 0 12px 0;
}

h3{
  color:#0b6eeb;
}

.order-input{
  width: 87%;
}

.order-button-pane{
  width: 100%;
  margin-top: 36px;
  text-align: center;
}

.order-panel{
  margin: 40px 25%;
}

label{
  margin: 7px 0;
}
