<div class="order-panel">
  <form>
    <div class="order-main-label">
      <h3>Odbiorca</h3>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label for="name">Imię i nazwisko</label>
        </div>
        <div class="col-md-9">
          <input [(ngModel)]="name" [ngClass]="{'invalid': invalidName}" (ngModelChange)="onChangeName($event)" type="text"
                 class="form-control order-input" name="name">
          <div *ngIf="invalidName" class="invalid-feedback">
            Proszę podaj imię i nazwisko.
          </div>
        </div>
      </div>
    </div>

    <div class="order-main-label">
      <h3>Adres</h3>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label for="address">Nazwa ulicy</label>
        </div>
        <div class="col-md-9">
          <input [(ngModel)]="address" [ngClass]="{'invalid': invalidAddress}" (ngModelChange)="onChangeAddress($event)"
                 type="text" class="form-control order-input" name="address">
          <div *ngIf="invalidAddress" class="invalid-feedback">
            Proszę podaj adres.
          </div>
        </div>
      </div>
    </div>
    <div class="order-button-pane">
      <button class="btn btn-success" (click)="order()">Złóż zamówienie</button>
    </div>
  </form>
</div>
