/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body{
  /*margin: 20px 15%;*/
}
.app-button {
  color:#0b6eeb;
  border-color: #0b6eeb;
  background-color: white;
}
.app-button:active,
.app-button:visited,
.app-button:link,
.app-button:focus
{
  color:#0b6eeb;
  border-color: #0b6eeb;
  background-color: white;
}
.app-button:hover{
  color: white;
  background-color: #0b6eeb;
}

.app-button-selected {
  color: white;
  background-color: #0b6eeb;
}
.app-button-selected:hover,
.app-button-selected:active,
.app-button-selected:visited,
.app-button-selected:link,
.app-button-selected:focus{
  color: white;
  background-color: #0b6eeb;
}

.form-control {
  color:#0b6eeb;
  border-color: #0b6eeb;
  background-color: white;
}

.form-control::placeholder {
  color:#0b6eeb;
}

label{
  color:#0b6eeb;
}
