.product {
  width: 100%;
}

.product-name {
  font-size: 17px;
  font-weight: 600;
  color: #59aeff;
  margin: 0 0 8px 0;
}

.product-price {
  color: #32ad59;
  font-weight: 600;
  font-size: 20px;
}

.product-count {
  color: #59aeff;
  font-weight: 600;
  font-size: 14px;
  margin: 2px 0;
}

p {
  color: grey;
  font-size: 12px;
  margin-bottom: 45px;
}

#emptyCard {
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: #61a9e8;
}

#continueShopping {
  width: 100%;
  margin: 30px 0;
}

#order {
  width: 100%;
  text-align: center;
  margin: 15px 0;
}
