<div id="emptyCard" *ngIf="cardService.card.length == 0">Koszyk pusty</div>
<div *ngIf="cardService.card.length != 0">
  <div *ngFor="let product of cardService.card; let i = index" class="row product">

    <div class="row product">
      <div class="col-md-2">
        <img src={{product.photo}} style="max-width: 100%;"/>
      </div>
      <div class="col-md-7">
        <p class="product-name">{{ product.name }}</p>
        <p class="product-description">{{product.description}}</p>
      </div>
      <div class="col-md-3" style="text-align: center;">
        <div class="product-price">{{product.price | currency}}</div>
        <div class="product-count">{{product.count}} sztuk</div>
        <button class="btn app-button" (click)="removeFromCard(i)">Usuń</button>
      </div>
    </div>

  </div>
  <div id="order" class="col-sm-12">
    <button class="btn btn-success" routerLink="/order">Złóż zamówienie</button>
  </div>
</div>
<div id="continueShopping" class="col-sm-12">
  <button class="btn app-button" routerLink="">Kontynuuj zakupy</button>
</div>
